* {
  margin: 0;
  padding: 0;
}
.icon {
  display: flex;
  font-size: large;
  font-weight: 400;
}
.hotel {
  background-image: url(./images/light.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;


}
nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;

}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  color: aqua;
}
.nav-list {
  display: flex;
  gap: 15px;
  list-style-type: none;
}
.header-text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-size: larger;
}
.number {
  color: white;
}
/* .button{
   border: 1px solid white ;
   border-radius: 50px;
   padding: 5px;
   margin: 20px;
   width: 70%;
   text-decoration: none;
   color: black;
   background-color: rgb(206, 184, 184);
} */
.header-text a {
  text-decoration: none;
  color: black;
  background-color: #e2a169;
  /* border: 1px solid white ; */
  border-radius: 10px;
  gap: 40px;
  padding: 5px;
}
.seemore {
  margin: 50px;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  border: 10px solid white;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: -20px;
}
.form-details {
  height: 20vh;
  position: absolute;
  bottom: -50px;
  width: 200px;
  height: 100px;
  right: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #e2a169;
  width: 90%;
  margin: auto;
  /* outline: 10px solid transparent */
}

/* .form-details input{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: -20px;
} */

.findnow {
  text-decoration: none;
  background-color: white;
  border: 20px solid white;
  border-radius: 300px;
}
.our-services{
  /* height: 100vh; */
  background-color: rgba(255, 228, 196, 0.326);

}
.ourserv {
  height:80vh;
  padding: 2rem;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: larger;
  width: 90%;

}
.service {
 width: 100%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #FFF6EC;
}
.service-icons{
  width: 90%;
  height: 55vh;
  padding: 1.5rem;
  display: flex;
  gap: 30px;

  display: flex;
}
.icons{
 width: 400px;
 height: 300px;
 padding: 2rem;
}
.trekking{
  background-color:white
  
}
.map{
  background-color: white;
}
.suitcase{
  background-color: white;
}
/* .trekking {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-evenly;
  padding: 2rem;
}
.map {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-evenly;
  padding: 2rem;
}

.suitcase {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-evenly;
  padding: 2rem;
} */
.service-icons a {
  text-decoration: none;
  color: black;
}
.form-details a {
  text-decoration: none;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: -20px;
}
img {
  width: 70px;
  height: 70px;
}
/* .learnmore{
  display: flex;
  gap: 40px;
} */
.trekking{
  display: flex;
  flex-direction: column;
  gap: 30px;

}
.map{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.suitcase{
display: flex;
  flex-direction: column;
  gap: 30px;
}
/* .form-details input{
    outline: 10px solid transparent
} */
.moving a {
  text-decoration: none;
  color: black;
  padding: 2rem;
}

.moving{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 20px;
}

.previous{
  background-color: #e2a169;
  padding: 10px;
  border-radius: 10px;
}
.next{
  background-color: #e2a169;
  padding: 10px;
  border-radius: 10px;
}
.inside img{
  height: 75vh;
  width: 45vw;
  padding: 2rem;

}

/* .abouthotell h1 {
  display: flex;
  align-items: center;
  justify-content: center; */
.outside{
  gap: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 margin-top: 40px;
 /* height: 40vh; */
}
.image2 img{
width: 45vw;
height: 70vh;
position: absolute;
background-attachment: fixed;
padding: 2rem;
margin-top: 25px;
}
.inside {
  height: 90vh;
 background-color: #e2a169;
 width: 35vw;
  margin-top: 20px;
  position: relative;

}
.abouthotell{
  /* height: 70vh; */
  margin-top: 100px;
  width: 30vw;
  padding: 40px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.testimony{
  padding: 2.5rem;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  gap: 120px;
  justify-content: space-around;
}
.lastsec{
  
  height: 100vh;
  background-color: rgba(255, 228, 196, 0.326);
  margin-top: 20px;
}
.testimony h1{
  color: #e2a169;
  font-weight: bold;
}
.evidences{
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 2.5rem;
}
.evidence1{
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-evenly;
  background-color: white;
}
.evi2{
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-evenly;
  background-color: white;
}
.evi3{
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-evenly;
  background-color: white;
}
.evidence1 img{
  border-radius: 70px;
height: 40px;
width: 40px;
}
.evi2 img{
  border-radius: 50px;
  height: 40px;
width: 40px;

}
.evi3 img{
  border-radius: 50px;
  height: 40px;
width: 40px;
}
.profile{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.p-text{
  font-size: small;
}
.moving2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
 
}
.moving2 a{
  text-decoration: none;
  color: black;
}
/* .last-page {
  height: 50vh
  padding: 2.5rem;
  margin: 100px;
  display: flex;
  align-items: center;
 flex-direction: column;
} */
 .last-page{
  height: 30vh;
  padding: 2rem;
  /* margin-top: 100px; */
  display: flex;
  flex-direction: row;
 justify-content: space-evenly;
 background-color:#e2a169;
 
 }
.last-page a{
  text-decoration: none;
  color: black;

 
}
/* .services{
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  gap: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
 
} */
.practice-area{
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home{
  width:250px ;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact{
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detail-c{
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  justify-content: space-between;
  /* background-color: black; */
}
.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
}